@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
.wrapper{
    position: absolute;
    width: 100vw;
    height: 12vh;
    background-color: #000000;
    z-index: 1000;
}

.logo {
    height: 12vh;
    margin-left: 3vw;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;

}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #ffffff;
    text-decoration: none;
    padding: 12vh 20px;
    font-size: 24px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.welcome-div{
    width: 100vw;
    height: 88vh;
    text-align: center;
    vertical-align: center;
}
.welcome-text {
    position: absolute;
    color: #000000;
    font-size: 80px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index {
    transform: translate(-50%, -50%) !important;
}

.welcome-subtext {
    position: absolute;
    color: #000000;
    font-size: 40px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    clear: both;
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 400px;
}

.map {
    margin: 5vh 5vw;
    float: left;
}

.contact {
    margin-top: 5vh;
    color: #ffffff !important;
    float: left;
    line-height: 1;
}

.details {
    margin-top: 15px;
    font-size: larger;
}