@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
.body{
    background:url("images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;

}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #000000;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.nav-area li a:hoever{
    background: #fff;
    color: #333;
}
.logo img{
    width: 100px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}
.coupon {
  border: 5px dotted #bbb; /* Dotted border */
  width: 80%;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
    background:skyblue;
}.main_wrapper{
    width:1000px;
    height: auto;
    margin: auto;
}
.header_wrapper{
    width: 1000px;
    height: 100px;
    margin: auto;
}
.menubar{
    width:1000px;
    height: 50px;
    background: gray;
    color: white;
}
#logo{
    float:left;
}
#banner{
    float: right;
}

.content_wrapper{
    width: 1000px;
    margin: auto;
    background: pink;
}
#sidebar{
    width: 200px;
    background: black;
    color: white;
    float: left;
}
#content_area{
    width: 800px;
    background: pink;
    float: right;
}
#footer{
    width: 1000px;
    height: 100px;  
    background: gray;
    clear: both;
}